.web{
    font-family: Arial,sans-serif;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff8e1;
    padding: 30px 50px;
    border-radius: 8px;
    box-shadow: 0px 6px 10px 2px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
    flex-direction: row-reverse;
    width: 75%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.header-image{
    width: 500px;
    height: 100%;
    border-radius: 8px;
    margin-left: auto;
}

.header-content{
    max-width: 600px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0px;
}

h2{
    font-size: 36px;
    color: black;
    margin-bottom: 20px;
    text-align: left;
    padding-top: 0;
    margin-top: 0;
}

.header-content p{
    font-size: 18px;
    color: black;
    line-height: 1.6;
    margin-top: 0;
    margin-bottom: 0;
}

@media screen and (max-width:768px) {
    .header{
        flex-direction: column;
        text-align: center;
        width: 90%;
        height: auto;
    }

    .header-image{
        width: 250px;
        height: auto;
        margin-bottom: 20px;
    }

    h2{
        font-size: 28px;
    }

    .header-content p{
        font-size: 16px;
    }
    
}