.adoption-requests{
    padding: 20px;
    background-color: #f5f5f5;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td{
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

th{
    background-color: #6fbfb9;
    color: white;
}

.approve-btn, .reject-btn{
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
}

.approve-btn{
    background-color: #4CAF50;
    color: white;
}

.approve-btn:hover{
    background-color: #5bc55f;
    color: white;
}

.approve-btn:disabled{
    background-color: #a5d6a7;
    cursor: not-allowed;
}

.reject-btn{
    background-color: #f44336;
    color: white;
    margin-left: 10px;
}

.reject-btn:hover{
    background-color: #db453a;
    color: white;
}

.reject-btn:disabled{
    background-color: #ef9a9a;
    cursor: not-allowed;
}

.adopt-delete-btn{
    padding: 8px 16px;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    color: white;
    background-color: #f13426;
}

.adopt-delete-btn:hover{
    background-color: #db453a;
    color: white;
}
.error{
    color: red;
    font-weight: bold;
}