.change-password-card{
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.change-password-form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.change-password-form .MuiTextField-root{
    margin-bottom: 20px;
}

.submit-button{
    background-color: #76d3cd;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.submit-button:hover{
    background-color: #5bb3a6;
}
