.navbar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #94e7e2;
    height: 60px;
}

.logo{
    width: 50px;
    height: auto;
}

.navbar-menu{
    list-style-type: none;
    display: flex;
    margin: 0;
    margin-left: auto;
    margin-right: 40px;
}

.navbar-menu li{
    margin: 0 15px;
    color: black;
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
}

.navbar-menu li:hover{
    color: whitesmoke;
    text-decoration: underline;
}

.dropdown{
    position: relative;
    display: flex;
    align-items: center;
}

.dropdown-menu{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #94e7e2;
    padding: 5px 0;
    list-style-type: none;
    min-width: 150px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-menu li{
    padding: 10px 20px;
    color: black;
    font-size: 16px;
    cursor: pointer;
}

.dropdown-menu li:hover{
    background-color: #94e7e2;
    color: whitesmoke;
}

.dropdown:hover .dropdown-menu,
.dropdown-menu{
    display: block;
}
.arrow-down, .arrow-up{
    font-size: 10px;
    margin-top: 4px;
    margin-left: 4px;
}

@media screen and (max-width:768px) {
    .navbar{
        flex-direction: column;
        height: auto;
    }

    .navbar-menu{
        flex-direction: column;
        align-items: center;
    }

    .navbar-menu li{
        margin: 10px 0;
    }
    
    .dropdown-menu{
        position: static;
        width: 100%;
        box-shadow: none;
    }
}